{{#each foods as |food|}}

  {{log food}}
  <div class="show-food">
    <h5 data-id="{{food.id}}" class="header">{{food.breakfast}} <span class="food-message"></span></h5>
    <section data-id="{{food.id}}">

      <div class="food-data">
        <p id='feedbackMessage'></p>
        <p >{{food.name}}</p>
        <p >{{food.breakfast}}</p>
        <p >{{food.lunch}}</p>
        <p >{{food.dinner}}</p>
      <!-- </div> -->

      <!-- <div id="model-actions"> -->
        <button type="button" class="update-food-btn update-btn btn btn-primary" data-toggle="modal"

          data-target="#updateModal{{food.id}}">Update</button>

          <div class="modal fade" id="updateModal{{food.id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-breakfast" id="updateModalLabel">Update food</h5>
                  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                  <form class="update-food-form">
                    <div class="form-group">
                      <input class="modal-field" type="text" name="name"
                       placeholder="food dinner">
                    </div>
                    <div class="form-group">
                      <input class="modal-field" type="text" name="breakfast"
                       placeholder="food breakfast">
                    </div>
                    <div class="form-group">
                      <input class="modal-field" type="text" name="lunch"
                       placeholder="food lunch">
                    </div>
                    <div class="form-group">
                      <input class="modal-field" type="text" name="dinner"
                       placeholder="food dinner">
                    </div>
                    <button type="submit" class="btn btn-warning">Update food</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="close-modal btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        <button type="submit" class="delete-food-btn delete-btn btn btn-danger">Delete</button>
      </div>

    </div>
    </section>
  </div>
  <br>

{{/each}}
